nav > ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: var(--white);
    margin: 0;
    top: 0;
    height: 65px;
    padding: 0;
    z-index: 10;
}
@media (max-width: 600px) {
    nav > ul {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        font-size: 50px;
    }
}
.cerrar {
    position: fixed;
    top: 11px;
    right: 16px;
    background: var(--turquoise);
    padding: 10px;
    border-radius: 100%;
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
    z-index: 11;
}

.icons, .icons * {
    text-align: center;
}
.posts-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las columnas */
}
.article-container {
    margin: 8px;
    border: 3px solid var(--grey); /* Opcional: para ver los bordes de los artículos */
    padding: 10px; /* Opcional: para añadir espacio interno */
    border-radius: 13%;
}
.article-container:hover {
    background-color: rgb(253, 253, 253);
    color: var(--white);
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.article-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.article-info a {
    text-align-last: center;
    text-decoration: none;
    color: var(--black);
}
p.article-text {
    padding: 10px;
}
@media (max-width: 500px) {
    nav{
        display: none;}
}
@media (max-height: 600px) {
    .posts-articles{
        height: 30px;
    }
}