* {background : rgba(255, 255, 255, 0);
}
:root {
    --verde : rgb(165, 246, 165);
    --azul : rgb(212, 212, 249);
}
@keyframes cambiocolor {
    from {background : var(--azul);}
    to {background : var(--verde);}
}
.blocazo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.bloquecito {
    margin: 30px;
    background-color: #ffb7ff;
    border-style: groove;
    border-color: aliceblue;
    font-size: x-large;
    width: 190px;
    height: 70px;
    text-align: center;
    font-family: cursive;
}
.nuevo-articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    background-color: #ffbac7;
    border-style: dotted;
    padding: 50px;
    margin: 25px;
}
h2 {
    color : rgb(217, 142, 142);
    text-align : justify;
    margin-top : 6px;
    margin-bottom : 6px;
    position : sticky;
    top : 16px;
}
.introduccion {
    color : #499c49;
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    justify-content : space-around;
}
ul.ul1 {
    color : #b86a6a;
}
.footer.columna {
    color : rgb(114, 54, 54);
    display : inline-table;
    text-align : center;
}
.cuerpo .ul2 {
    background : #ffe3e8;
    text-align : right;
}
h1, p {
    display : flex;
    justify-content : center;
    flex-direction : column;
}
ul li {
    color : rgb(149, 125, 149);
}
p > strong {
    color : rgb(255, 118, 200);
    background : #ffffff;
}
nav > ul {
    list-style : none;
    display : flex;
    flex-wrap : nowrap;
    align-items : center;
    justify-content : space-evenly;
    position : fixed;
    width : 100%;
    background : rgb(255, 255, 255);
    margin : 0;
    top : 0;
    height : 65px;
    padding : 0;
    z-index : 10;
}
body {
    margin-top : 70px;
    font-family : "Catamaran", sans-serif;
    background-color: aliceblue;
}
tr {
    background : rgb(124, 183, 124);
    animation-name : cambiocolor;
    animation-duration : 4s;
}
td.cm {
    width : 20cm;
    height : 20cm;
}
td.mm {
    background : bisque;
    width : 200mm;
    height : 200mm;
}
td.pulgadas {
    width : 4in;
    height : 4in;
}
td.px {
    background : cornsilk;
    width : 20px;
    height : 20px;
}
td.pt {
    background : green;
    width : 20pt;
    height : 20pt;
}
td.pc {
    width : 20pc;
    height : 20pc;
}
td.em {
    background : hotpink;
    width : 20em;
    height : 20em;
}
td.rem {
    background : rgb(239, 218, 147);
    width : 20rem;
    height : 20rem;
}
td.vh {
    background : #d8ffb2;
    width : 20vh;
    height : 20vh;
}
td.vw {
    background : #fcd0d0;
    width : 20vw;
    height : 20vw;
}
td.Porcentaje {
    background : violet;
    width : 25%;
    height : 25%;
}
.cerrar {
    position : fixed;
    top : 11px;
    right : 16px;
    background : turquoise;
    padding : 10px;
    border-radius : 100%;
    color : white;
    font-weight : 800;
    cursor : pointer;
    z-index : 11;
}
.imagenfalsa {
    height : 140px;
    width : 343px;
    margin : auto;
    background-image : url(/imagenes/fondito.jpg);
    background-repeat : no-repeat;
}
.imagenfalsa2 {
    background : url(/imagenes/fondito.jpg) -11px -31px;
    background-size : 3em;
    background-repeat : no-repeat;
    padding-left : 2em;
    background-position-y : center;
}
a[href^="https:"] {
    padding-right: 3.5em;
    background-image: url(/imagenes/puntero.webp);
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: right;
    color: rgb(175, 36, 161);
    margin-left: 4px;
}
@media all and (min-width: 550px) and (max-width: 1000px) {
    .h2 {
    color : rgb(127, 80, 255);
    background : rgb(238, 162, 162);
    }
}
@media all and (max-width: 1000px) {
    nav > ul {
    display : flex;
    flex-direction : column;
    height : auto;
    align-items : center;
    }
}

